.accordion-section {
    margin: 0 25%;
}

.icon {
    font-size: 1.5rem;
}

.buy-button {
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;
}

.star-cost {
    margin-left: 40px;
}

.tomato-image {
    margin-left: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 900px) {

    .buy-button {
        width: auto;
    }

    .accordion-section {
        margin: 0 5%;
    }
 
  }